h1
{
    text-align:center;
}

.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    background-color: #000000!important;
    color: #fff!important; 
}

.bg-light {
    background-color: #49a59d73!important;
}
h3{
    color: #fff;
}
.card-header{
    background-color: #add6d3;
    color: #fff;
    font-weight: 700;
}
.card-body{
    background-color: #000;
    color: #fff;
}

.card-body a{
    color: #000!important;
    background-color: #fff!important;
    font-weight: 600;
}
.box h1{
    background-color: #add6d3;
    color: #fff;
    padding: 3%;
    border-radius: 5px;
}
.box label{
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 1%;
    border-radius: 5px;
    font-weight: 900;
}
.box .btn-primary {
    color: #fff;
    background-color: #add6d3;
    border-color: #add6d3;
    width: 100%;
    font-weight: 800;
}
